<!-- templates/boardEntity/detail-page.html -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteBtn = document.getElementById("toggle-delete-form");
        const deleteForm = document.getElementById("delete-form");

        deleteBtn.addEventListener("click", () => {
            deleteForm.style.display = deleteForm.style.display === "none" ? "block" : "none";
        });
    });
</script>
<head th:include="layout/base :: head"></head>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <div th:replace="board/detail :: content"></div>
</div>
